.spare {
  margin-top: 20px;
}

.result-score {
  font-size: 0.8rem;
}
.date-time {
  margin-top: 5px;
  margin-bottom: 5px;
}
.plays-dash-low {
  margin-bottom: 2rem;
}
.game-title {
  margin-bottom: 2rem;

}
.display-block {
  display: block;
}

.auto-margin {
  margin:auto;
}
