.spare {
  margin-top: 20px;
}

.result-score {
  font-size: 14px;
}
.date-time {
  margin-top: 5px;
  margin-bottom: 5px;
}
.plays-dash-low {
  margin-bottom: 2rem;
}
.game-title {
  margin-bottom: 2rem;
}
